html {
	background-image:url('bg.png');
	background-repeat:repeat;
}

body {
	text-align: center;
	font-family: 'Average Sans', Calibri, sans-serif;
}

h1 {
	
	color: #6cbb6b;
	font-size: 6em;
}

#searchbox
{
	/*background: #eaf8fc;
	background-image: -moz-linear-gradient(#fff, #d4e8ec);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #aaaaaa),color-stop(1, #fff));*/*/

	-moz-border-radius: 35px;
	border-radius: 35px;

	border-width: 1px;
	border-style: solid;
	border-color: #c4d9df #a4c3ca #83afb7;            
	width: 780px;
	height: 65px;
	padding: 10px;
	margin: 100px auto 50px;
	overflow: hidden;
}

#search, #submit
{
	float: left;
}

#search
{
	padding: 5px 9px;
	height: 65px;
	width: 600px;
	border: 1px solid #a4c3ca;
	font: normal 26px 'Average Sans', Calibri, sans-serif;
	font-style: italic;	
	background: #f1f1f1;

	-moz-border-radius: 50px 3px 3px 50px;
	border-radius: 50px 3px 3px 50px;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);            
}

/* ----------------------- */

#submit
{		
	background: #6cbb6b;
	background-image: -moz-linear-gradient(#95d788, #6cbb6b);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #6cbb6b),color-stop(1, #95d788));

	-moz-border-radius: 3px 50px 50px 3px;
	border-radius: 3px 50px 50px 3px;

	border-width: 1px;
	border-style: solid;
	border-color: #7eba7c #578e57 #447d43;

	-moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	-webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;   		

	height: 65px;
	margin: 0 0 0 10px;
	padding: 0;
	width: 170px;
	cursor: pointer;
	font: bold 20px 'Trebuchet MS', Arial, Helvetica;
	text-align: center;
	color: #23441e;

	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}

#submit:hover
{		
	background: #95d788;
	background-image: -moz-linear-gradient(#6cbb6b, #95d788);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #95d788),color-stop(1, #6cbb6b));
}	

#submit:active
{		
	background: #95d788;
	outline: none;

	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;		
}

#submit::-moz-focus-inner
{
	border: none;
}		

/* ----------------------- */

#search::-webkit-input-placeholder {
	color: #9c9c9c;
	font-style: italic;
}

#search:-moz-placeholder {
	color: #9c9c9c;
	font-style: italic;
}    

#search.placeholder {
	color: #9c9c9c !important;
	font-style: italic;
}  

#search:focus
{
	border-color: #8badb4;
	background: #EAEAEA;
	outline: none;
}

h2{	
	font-size: 3em;
	color: #95d788;
}

h3{	
	font-size: 2em;
	color: #95d788;
}

#name, #country, #genre, #runtime, #year{
	font-size: 1.6em;
}

#sResult{
	color:#000;
	font-size: 2em;
}

#dob{
	font-size: 1.7em;
}

#movie, #actor{	
}

a{
	font-size: 1.2em;
}

a:link{
	color:#666666;
}

a:visited{
	color:#B1B1B1;
}

a:hover{
	color:#95d788;
}

a:active{
	color:#006600;
}	

h1 a{
	color: #ED2907;
	text-decoration: none;
}

h1 a:link{
	color:#53B73E;
}

h1 a:hover{
	color:#666666;
}

h1 a:visited{
	color:#95d788;
}

h1 a:active{
	color:#006600;
}
